.App {
  text-align: center;
}

.todo-box{
  width:500px;
  margin: 0 auto;
}
.todo-box .todo-field input{
  width:90%;
}
.todo-box .todo-field{
  margin-bottom: 10px;
}
.todo-box .task{
  border:1px solid #eee;
  padding: 1em;
}